@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap: 100, 200, 300, 400, 500, 600, 700| Anton: 100, 200, 300, 400, 500, 600, 700');

body {
    margin: 0;
    background-color: #fff;
    
}
/* --------------------------- colors*/

.ui-menu-color-home{
background-color: #006a83;
}

.ui-menu-color-portfolio{
background-color: #00a192;
}

.ui-menu-color-contact{
background-color: #9bb83d;
}
.ui-menu-color-cv {
    background-color: #fafafa;
}
/*-------------------------- Header*/
header {
    background-color: #47495a;
}
.logo { 
background: url("../images/Peacock_Logo-white.png");
background-position: center;
background-repeat: no-repeat;
background-size: contain;
margin: 0;
min-height: 200px;

}

.list-inline-item:not(:last-child) {
margin: 0;
}

.row {
    margin: 0 5px;
}

/* @media screen and (max-width: 600px) {
  .logo { 
    background: url("../images/peacock-logo-icon-white.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100px;
  }
  */
