@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap: 100, 200, 300, 400, 500, 600, 700| Anton: 100, 200, 300, 400, 500, 600, 700');

 /* -- nav-links -- */
.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(155,184,61,.75);
}
/* -- Elements -- */
body {
    background-color: rgb(94, 93, 93);
    background-image: url("../images/peacock_feathers.png");
    background-size: cover;
    background-repeat: no-repeat;
}
 nav {
    
}

h1 {
    font-size: 4em;
    color: #fafafa;
}
h3 {
    font-size: 16pt;
    color: #fafafa;
}

p {
    color: #fafafa;
}
/* -- classes -- */
.container-fluid {
    margin:0;
}


.logo {
    max-width: 150px;
    margin-right: 40px;
    
}

.about {
background-image: url("../images/about-BG.jpeg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
padding-top: 75px;
padding-left: 50px;
padding-right: 50px;
margin: 0;
height: 100%;
}