@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap: 100, 200, 300, 400, 500, 600, 700| Anton: 100, 200, 300, 400, 500, 600, 700');

body {
    background-color: #fff;
    
}
header{
    margin: 0;
}

nav {
    background-color: #47495a;
    height: 100px;
    
}
ul{
    float: right;
    margin-right: 10px;

}

li {
    color: #fff;
    display: inline-block;
    padding-left: 15px;
}

a {
    color: #fff;
}

.logo {
background-color: #47495a; 
max-height: 100px;
background: url(../assets/images/Peacock_Logo-white.png);

}